---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=forrestal%20dr,%20ceiba&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Forrestal Drive",
                       "short_name" : "Forrestal Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Ceiba",
                       "short_name" : "Ceiba",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Ceiba",
                       "short_name" : "Ceiba",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Puerto Rico",
                       "short_name" : "PR",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "00735",
                       "short_name" : "00735",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Forrestal Dr, Ceiba, 00735, Puerto Rico",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 18.2429052,
                          "lng" : -65.6151112
                       },
                       "southwest" : {
                          "lat" : 18.2298151,
                          "lng" : -65.63536239999999
                       }
                    },
                    "location" : {
                       "lat" : 18.240392,
                       "lng" : -65.62385970000001
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 18.2429052,
                          "lng" : -65.6151112
                       },
                       "southwest" : {
                          "lat" : 18.2298151,
                          "lng" : -65.63536239999999
                       }
                    }
                 },
                 "place_id" : "ChIJ639yJvG8BIwRswVnYNZhW4I",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 19 Jun 2017 15:07:41 GMT
recorded_with: VCR 3.0.3
