---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=nome,%20ak&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Nome",
                       "short_name" : "Nome",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Nome",
                       "short_name" : "Nome",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Alaska",
                       "short_name" : "AK",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Nome, AK, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 64.56107,
                          "lng" : -165.3221429
                       },
                       "southwest" : {
                          "lat" : 64.46279699999999,
                          "lng" : -165.516656
                       }
                    },
                    "location" : {
                       "lat" : 64.5011111,
                       "lng" : -165.4063889
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 64.56107,
                          "lng" : -165.3221429
                       },
                       "southwest" : {
                          "lat" : 64.4872302,
                          "lng" : -165.5015199
                       }
                    }
                 },
                 "place_id" : "ChIJeVU4FigaMVcRTIR2WHExdUE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 21 Jul 2017 14:00:01 GMT
recorded_with: VCR 3.0.3
