---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=121%20ash%20st%20warden%20wa&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "121",
                       "short_name" : "121",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South Ash Avenue",
                       "short_name" : "S Ash Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Warden",
                       "short_name" : "Warden",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=121%20ash%20st%20warden%20wa&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "addr[...]
