---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=chidester,%20ar&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Chidester",
                       "short_name" : "Chidester",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Ouachita County",
                       "short_name" : "Ouachita County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Arkansas",
                       "short_name" : "AR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "71726",
                       "short_name" : "71726",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Chidester, AR 71726, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 33.721074,
                          "lng" : -93.00149689999999
                       },
                       "southwest" : {
                          "lat" : 33.6845438,
                          "lng" : -93.0472338
                       }
                    },
                    "location" : {
                       "lat" : 33.7023315,
                       "lng" : -93.02044370000002
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 33.721074,
                          "lng" : -93.00149689999999
                       },
                       "southwest" : {
                          "lat" : 33.6845438,
                          "lng" : -93.0472338
                       }
                    }
                 },
                 "place_id" : "ChIJj8fWSMpWMoYRntyys-1lR0s",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 13 Dec 2016 20:15:34 GMT
recorded_with: VCR 3.0.3
