---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2424%20S.%20Country%20Club%20Road,%20El%20Reno,%20OK%2073036&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2424",
                       "short_name" : "2424",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South Country Club Road",
                       "short_name" : "S Country Club Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "El Reno",
                       "short_name" : "El Reno",
                       "types" : [ "locality", "political" ]
                    },
                    {
                  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2424%20S.%20Country%20Club%20Road,%20El%20Reno,%20OK%2073036&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
      [...]
