---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=adams%20county%20OH&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Adams County",
                       "short_name" : "Adams County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Ohio",
                       "short_name" : "OH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Adams County, OH, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.055202,
                          "lng" : -83.26755009999999
                       },
                       "southwest" : {
                          "lat" : 38.5965879,
                          "lng" : -83.7053179
                       }
                    },
                    "location" : {
                       "lat" : 38.8907822,
                       "lng" : -83.50702029999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.055202,
                          "lng" : -83.26755009999999
                       },
                       "southwest" : {
                          "lat" : 38.5965879,
                          "lng" : -83.7053179
                       }
                    }
                 },
                 "place_id" : "ChIJtUvMhiPiRogRJX-fMQc2A7c",
                 "types" : [ "administrative_area_level_2", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 01 Aug 2017 18:12:57 GMT
recorded_with: VCR 3.0.3
