---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=mcdowell%20county,%20wv&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "McDowell County",
                       "short_name" : "McDowell County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "West Virginia",
                       "short_name" : "WV",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "McDowell County, WV, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.5490099,
                          "lng" : -81.311201
                       },
                       "southwest" : {
                          "lat" : 37.2015399,
                          "lng" : -81.99657800000001
                       }
                    },
                    "location" : {
                       "lat" : 37.3860467,
                       "lng" : -81.64734399999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.5490099,
                          "lng" : -81.311201
                       },
                       "southwest" : {
                          "lat" : 37.2015399,
                          "lng" : -81.99657800000001
                       }
                    }
                 },
                 "place_id" : "ChIJKdnNKDmxT4gR2c8LinSATUQ",
                 "types" : [ "administrative_area_level_2", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 11 Aug 2017 23:32:43 GMT
recorded_with: VCR 3.0.3
