---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=amy,%20ar&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amy",
                       "short_name" : "Amy",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Carroll Township",
                       "short_name" : "Carroll Township",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Ouachita County",
                       "short_name" : "Ouachita County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Arkansas",
                       "short_name" : "AR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "71701",
                       "short_name" : "71701",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Amy, AR 71701, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 33.7320525,
                       "lng" : -92.8154404
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 33.7413315,
                          "lng" : -92.79943300000001
                       },
                       "southwest" : {
                          "lat" : 33.7227725,
                          "lng" : -92.83144779999999
                       }
                    }
                 },
                 "place_id" : "ChIJh3Jky6dfMoYR-PAS2KFqv1c",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 26 Jun 2017 14:27:45 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=amy,%20ar&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [[...]
