---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=reform,%20al&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Reform",
                       "short_name" : "Reform",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pickens County",
                       "short_name" : "Pickens County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Alabama",
                       "short_name" : "AL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Reform, AL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 33.410013,
                          "lng" : -87.98246709999999
                       },
                       "southwest" : {
                          "lat" : 33.3478061,
                          "lng" : -88.0479419
                       }
                    },
                    "location" : {
                       "lat" : 33.378451,
                       "lng" : -88.01530079999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 33.410013,
                          "lng" : -87.98246709999999
                       },
                       "southwest" : {
                          "lat" : 33.3478061,
                          "lng" : -88.0479419
                       }
                    }
                 },
                 "place_id" : "ChIJu6YPwdRnhogRju_Vw87-6Hs",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 27 Mar 2017 15:32:37 GMT
recorded_with: VCR 3.0.3
