---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=juneau&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Juneau",
                       "short_name" : "Juneau",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Stikine Region",
                       "short_name" : "Stikine Region",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Juneau",
                       "short_name" : "Juneau",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Alaska",
                       "short_name" : "AK",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Juneau, AK, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 58.9749719,
                          "lng" : -133.176444
                       },
                       "southwest" : {
                          "lat" : 57.795075,
                          "lng" : -135.219128
                       }
                    },
                    "location" : {
                       "lat" : 58.3019444,
                       "lng" : -134.4197222
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 58.97385180000001,
                          "lng" : -133.176444
                       },
                       "southwest" : {
                          "lat" : 57.795075,
                          "lng" : -135.1767144
                       }
                    }
                 },
                 "place_id" : "ChIJjzpqb2zeAFQREfNprlryXgY",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 01 Aug 2017 14:27:41 GMT
recorded_with: VCR 3.0.3
