---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Adel,%20GA%2031620,%20USA&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Adel",
                       "short_name" : "Adel",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Georgia",
                       "short_name" : "GA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "31620",
                       "short_name" : "31620",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Adel, GA 31620, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 31.171168,
                          "lng" : -83.397351
                       },
                       "southwest" : {
                          "lat" : 31.0944409,
                          "lng" : -83.4613621
                       }
                    },
                    "location" : {
                       "lat" : 31.1371358,
                       "lng" : -83.4234936
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 31.171168,
                          "lng" : -83.397351
                       },
                       "southwest" : {
                          "lat" : 31.0944409,
                          "lng" : -83.4613621
                       }
                    }
                 },
                 "place_id" : "ChIJaXmGqXgN7ogRwLNcdYXX1-4",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 05 Apr 2017 18:38:24 GMT
recorded_with: VCR 3.0.3
