---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=baltimore%20county,%20MD&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Baltimore County",
                       "short_name" : "Baltimore County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Maryland",
                       "short_name" : "MD",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Baltimore County, MD, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.7213021,
                          "lng" : -76.287689
                       },
                       "southwest" : {
                          "lat" : 39.156623,
                          "lng" : -76.8954859
                       }
                    },
                    "location" : {
                       "lat" : 39.4647665,
                       "lng" : -76.7336521
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7213022,
                          "lng" : -76.32071069999999
                       },
                       "southwest" : {
                          "lat" : 39.195311,
                          "lng" : -76.8954859
                       }
                    }
                 },
                 "place_id" : "ChIJt4P01q4DyIkRGShgcajgdCc",
                 "types" : [ "administrative_area_level_2", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 21 Jul 2017 14:20:22 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Montgomery%20county,%20MD&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
      [...]
