---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=mabie,%20wv&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Mabie",
                       "short_name" : "Mabie",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Roaring Creek",
                       "short_name" : "Roaring Creek",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Randolph County",
                       "short_name" : "Randolph County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "West Virginia",
                       "short_name" : "WV",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "26257",
                       "short_name" : "26257",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Mabie, WV 26257, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 38.8764943,
                       "lng" : -79.9831294
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.87784328029149,
                          "lng" : -79.98178041970849
                       },
                       "southwest" : {
                          "lat" : 38.8751453197085,
                          "lng" : -79.98447838029151
                       }
                    }
                 },
                 "place_id" : "ChIJKSEOUWwCS4gRsQEVUoRweTQ",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 26 Jun 2017 14:27:48 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=mabie,%20wv&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" :[...]
