---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Montgomery%20county,%20MD&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Montgomery County",
                       "short_name" : "Montgomery County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Maryland",
                       "short_name" : "MD",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Montgomery County, MD, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.3535021,
                          "lng" : -76.8885051
                       },
                       "southwest" : {
                          "lat" : 38.934343,
                          "lng" : -77.52768499999999
                       }
                    },
                    "location" : {
                       "lat" : 39.1547426,
                       "lng" : -77.2405153
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.3535021,
                          "lng" : -76.8885051
                       },
                       "southwest" : {
                          "lat" : 38.934343,
                          "lng" : -77.52768499999999
                       }
                    }
                 },
                 "place_id" : "ChIJh6O4gzUytokRc2ipdwYZC3g",
                 "types" : [ "administrative_area_level_2", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 11 Aug 2017 21:47:02 GMT
recorded_with: VCR 3.0.3
