---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=pine%20view%20tn&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pine View",
                       "short_name" : "Pine View",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Perry County",
                       "short_name" : "Perry County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Tennessee",
                       "short_name" : "TN",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "37096",
                       "short_name" : "37096",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Pine View, TN 37096, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.7362256,
                          "lng" : -87.92933309999999
                       },
                       "southwest" : {
                          "lat" : 35.7274851,
                          "lng" : -87.93726459999999
                       }
                    },
                    "location" : {
                       "lat" : 35.7302747,
                       "lng" : -87.93412909999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.7362256,
                          "lng" : -87.92933309999999
                       },
                       "southwest" : {
                          "lat" : 35.7274851,
                          "lng" : -87.93726459999999
                       }
                    }
                 },
                 "place_id" : "ChIJazYnDQKafIgRhw7xDb-OQ34",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 26 Jun 2017 14:27:59 GMT
recorded_with: VCR 3.0.3
