---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=navajo&country=UM&key=AIzaSyCpZgPsZxJzCFXoLpduWMeDRssxFKr6kR0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Navajo",
                       "short_name" : "Navajo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "McKinley County",
                       "short_name" : "McKinley County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Mexico",
                       "short_name" : "NM",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "87328",
                       "short_name" : "87328",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Navajo, NM 87328, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.9208759,
                          "lng" : -109.017334
                       },
                       "southwest" : {
                          "lat" : 35.8865341,
                          "lng" : -109.04607
                       }
                    },
                    "location" : {
                       "lat" : 35.9000121,
                       "lng" : -109.0339832
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.9208759,
                          "lng" : -109.017334
                       },
                       "southwest" : {
                          "lat" : 35.8865341,
                          "lng" : -109.04607
                       }
                    }
                 },
                 "place_id" : "ChIJZY5_4rrPOocR8kZ9DguQnoQ",
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Navajo Nation Reservation",
                       "short_name" : "Navajo Nation Reservation",
                       "types" : [ "political" ]
                    },
                    {
                       "long_name" : "Apache County",
                       "short_name"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=navajo&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
  [...]
