---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=navajo&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Navajo Nation Reservation",
                       "short_name" : "Navajo Nation Reservation",
                       "types" : [ "political" ]
                    },
                    {
                       "long_name" : "Apache County",
                       "short_name" : "Apache County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Arizona",
                       "short_name" : "AZ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Navajo Nation Reservation, AZ, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.4617319,
                          "lng" : -106.943005
                       },
                       "southwest" : {
                          "lat" : 34.303261,
                          "lng" : -111.8922061
                       }
                    },
                    "location" : {
                       "lat" : 36.0672173,
                       "lng" : -109.1880047
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.4617319,
                          "lng" : -106.943005
                       },
                       "southwest" : {
                          "lat" : 34.303261,
                          "lng" : -111.8922061
                       }
                    }
                 },
                 "place_id" : "ChIJPYfd3-A4JYcRTAR_7yIIM2Q",
                 "types" : [ "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Navajo",
                       "short_name" : "Navajo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "McKinley County",
                       "short_name" : "McKinley County",
              [...]
