---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=8%20Market%20Place%20Baltimore%20MD%2021202&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "8",
                       "short_name" : "8",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Market Place",
                       "short_name" : "Market Pl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Downtown",
                       "short_name" : "Downtown",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Baltimore",
                       "short_name" : "Baltimore",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Maryland",
                       "short_name" : "MD",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "21202",
                       "short_name" : "21202",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "8 Market Pl, Baltimore, MD 21202, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.2888915,
                       "lng" : -76.6069962
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.29024048029149,
                          "lng" : -76.60564721970849
                       },
                       "southwest" : {
                          "lat" : 39.2875425197085,
                          "lng" : -76.60834518029149
                       }
                    }
                 },
                 "place_id" : "ChIJPTD_Lp0EyIkRqSc4JiwiQTc",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 26 Jun 2017 14:27:40 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=8%20Market%20Place%20Baltimore%20MD%2021202&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
       [...]
