---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Rockyhock,%20NC,%20USA&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Rockyhock",
                       "short_name" : "Rockyhock",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "2, Middle",
                       "short_name" : "2, Middle",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Chowan County",
                       "short_name" : "Chowan County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "North Carolina",
                       "short_name" : "NC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "27932",
                       "short_name" : "27932",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Rockyhock, NC 27932, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 36.180107,
                       "lng" : -76.6931759
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 36.1891128,
                          "lng" : -76.67716850000001
                       },
                       "southwest" : {
                          "lat" : 36.1711001,
                          "lng" : -76.70918329999999
                       }
                    }
                 },
                 "place_id" : "ChIJz7JoChyTr4kRMhD_5tEJbxA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 11 Aug 2017 23:33:34 GMT
recorded_with: VCR 3.0.3
