---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=mcbee%20SC&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "McBee",
                       "short_name" : "McBee",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Chesterfield County",
                       "short_name" : "Chesterfield County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "South Carolina",
                       "short_name" : "SC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "29101",
                       "short_name" : "29101",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "McBee, SC 29101, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 34.4782851,
                          "lng" : -80.24629499999999
                       },
                       "southwest" : {
                          "lat" : 34.4537873,
                          "lng" : -80.2702096
                       }
                    },
                    "location" : {
                       "lat" : 34.4690418,
                       "lng" : -80.2559033
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.4782851,
                          "lng" : -80.24629499999999
                       },
                       "southwest" : {
                          "lat" : 34.4537873,
                          "lng" : -80.2702096
                       }
                    }
                 },
                 "place_id" : "ChIJ_WXXYAyYVYgRz3hZYIU2YI0",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 11 Aug 2017 23:33:37 GMT
recorded_with: VCR 3.0.3
