---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=roosevelt%20roads,%20pr&country=UM&key=AIzaSyCpZgPsZxJzCFXoLpduWMeDRssxFKr6kR0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Roosevelt Roads",
                       "short_name" : "Roosevelt Roads",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Ceiba",
                       "short_name" : "Ceiba",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Puerto Rico",
                       "short_name" : "PR",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Roosevelt Roads, Ceiba, Puerto Rico",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 18.2846489,
                          "lng" : -65.5822999
                       },
                       "southwest" : {
                          "lat" : 18.19864,
                          "lng" : -65.6879971
                       }
                    },
                    "location" : {
                       "lat" : 18.237248,
                       "lng" : -65.6480292
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 18.2846489,
                          "lng" : -65.5823839
                       },
                       "southwest" : {
                          "lat" : 18.1986605,
                          "lng" : -65.6879971
                       }
                    }
                 },
                 "place_id" : "ChIJ_wHbV-W8BIwRkF6gfbZ3HQc",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 02 Dec 2016 19:05:54 GMT
recorded_with: VCR 3.0.3
