---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=stilwell,%20ok&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Stilwell",
                       "short_name" : "Stilwell",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Adair County",
                       "short_name" : "Adair County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oklahoma",
                       "short_name" : "OK",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "74960",
                       "short_name" : "74960",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Stilwell, OK 74960, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.845134,
                          "lng" : -94.61264799999999
                       },
                       "southwest" : {
                          "lat" : 35.79195989999999,
                          "lng" : -94.6524378
                       }
                    },
                    "location" : {
                       "lat" : 35.81453,
                       "lng" : -94.6285553
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.845134,
                          "lng" : -94.61264799999999
                       },
                       "southwest" : {
                          "lat" : 35.79195989999999,
                          "lng" : -94.6524378
                       }
                    }
                 },
                 "place_id" : "ChIJF1LnweGJyYcRDuDm-F0fmz8",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 27 Mar 2017 15:28:12 GMT
recorded_with: VCR 3.0.3
