---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=terrebonne,%20LA&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Terrebonne Parish",
                       "short_name" : "Terrebonne Parish",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Louisiana",
                       "short_name" : "LA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Terrebonne Parish, LA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 29.778008,
                          "lng" : -90.376864
                       },
                       "southwest" : {
                          "lat" : 28.985911,
                          "lng" : -91.35427199999999
                       }
                    },
                    "location" : {
                       "lat" : 29.2299682,
                       "lng" : -90.75328089999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 29.778008,
                          "lng" : -90.376864
                       },
                       "southwest" : {
                          "lat" : 28.985911,
                          "lng" : -91.35427199999999
                       }
                    }
                 },
                 "place_id" : "ChIJs9U9QuigIYYRUA4WGWGx6-M",
                 "types" : [ "administrative_area_level_2", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 11 Aug 2017 21:47:08 GMT
recorded_with: VCR 3.0.3
