---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Holgate%20Dr,%20Essex,%20MD%2021221,%20USA&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Holgate Drive",
                       "short_name" : "Holgate Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Essex",
                       "short_name" : "Essex",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "15",
                       "short_name" : "15",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Baltimore County",
                       "short_name" : "Baltimore County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Maryland",
                       "short_name" : "MD",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "21221",
                       "short_name" : "21221",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Holgate Dr, Essex, MD 21221, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.3047699,
                          "lng" : -76.4467013
                       },
                       "southwest" : {
                          "lat" : 39.3038862,
                          "lng" : -76.4492838
                       }
                    },
                    "location" : {
                       "lat" : 39.3044422,
                       "lng" : -76.44799209999999
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.30567703029151,
                          "lng" : -76.4466435697085
                       },
                       "southwest" : {
                          "lat" : 39.30297906970851,
                          "lng" : -76.44934153029151
                       }
                    }
                 },
                 "place_id" : "ChIJ-Xwyh4P9x4kRQ4MG8hcEZDA",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 19 Jun 2017 15:05:46 GMT
recorded_with: VCR 3.0.3
