---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Shot%20Tower%20Baltimore%20MD&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "801",
                       "short_name" : "801",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East Fayette Street",
                       "short_name" : "E Fayette St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Jonestown",
                       "short_name" : "Jonestown",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Baltimore",
                       "short_name" : "Baltimore",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Maryland",
                       "short_name" : "MD",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "21201",
                       "short_name" : "21201",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "801 E Fayette St, Baltimore, MD 21201, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.2907249,
                       "lng" : -76.6054692
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.2920738802915,
                          "lng" : -76.60412021970849
                       },
                       "southwest" : {
                          "lat" : 39.2893759197085,
                          "lng" : -76.6068181802915
                       }
                    }
                 },
                 "place_id" : "ChIJY-m4QIMEyIkRFA0paNCGXxM",
                 "types" : [ "establishment", "museum", "point_of_interest" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 26 Jan 2017 19:35:17 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Holgate%20Dr,%20Essex,%20MD%2021221,%20USA&country=UM&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_compo[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Holgate%20Dr,%20Essex,%20MD%2021221,%20USA&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
        [...]
