---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=buckeye,%20wv&country=UM&key=AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Buckeye",
                       "short_name" : "Buckeye",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Edray",
                       "short_name" : "Edray",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Pocahontas County",
                       "short_name" : "Pocahontas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "West Virginia",
                       "short_name" : "WV",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Buckeye, WV, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.1948556,
                          "lng" : -80.1312324
                       },
                       "southwest" : {
                          "lat" : 38.1855906,
                          "lng" : -80.1365459
                       }
                    },
                    "location" : {
                       "lat" : 38.1869214,
                       "lng" : -80.13491979999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.1948556,
                          "lng" : -80.1312324
                       },
                       "southwest" : {
                          "lat" : 38.1855906,
                          "lng" : -80.1365459
                       }
                    }
                 },
                 "place_id" : "ChIJOfY2405-TIgRJL8zXaGAjeI",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 05 Dec 2016 16:05:23 GMT
recorded_with: VCR 3.0.3
